framework:
    secret: '%env(APP_SECRET)%'
    session:
        cookie_samesite: 'lax'
        cookie_secure: false   # false car tu es en HTTP localhost

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file